.App {
  text-align: center;
  color: #333;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 100px;
  padding-right: 2%;
}

.App-header {
  background-color: #333;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
  font-weight: 700;
  margin: 20px 0;
}

.project-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.project-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100px;
  background: #61dafb;
  margin: 20px 3%;
  border-radius: 4px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
